@font-face {
    font-family: Helvetica-Light; /* Имя шрифта */
    src: url(../fonts/HelveticaLight/HelveticaLight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helvetica-Medium; /* Имя шрифта */
    src: url(../fonts/HelveticaMedium/HelveticaMedium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helvetica-Regular; /* Имя шрифта */
    src: url(../fonts/HelveticaRegular/HelveticaRegular.ttf); /* Путь к файлу со шрифтом */
}

body{
	background: #fbfbfb;
}