.up{
	text-align: center;
	font-size: 14px;
	opacity: 0.9;
	padding-bottom: 5px;
	border-bottom: 1px solid #efefef;
	cursor:pointer;
	user-select: none;
}
.up:hover{
	color:#3e97f3;
}
.up.active{
	color:#3e97f3;
}