.header{
	padding-left: 5px;
	margin: 5px 0px;
}
.hour{
	display: inline-block;
	font-size: 12px;
}
.days{
	float: left;
	height: 280px;
	margin-top: -20px;
	padding-top: 16px;
	background: #fff;
	position: absolute;
	left: 15px;
	width: 40px;
	transition: height 0.3s ease-out;
	overflow-y: hidden;
}
.days.close{
	height: 0;
}
.day{
	height: 20px;
	background: #fff;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	line-height: 3;
}
.graph{
	/*width:100vw;*/
	overflow-x: hidden;
}
.cell{
	height: 41px;
	display: inline-block;
	border: 1px solid rgba(206, 206, 206,0.2);
	border-left: none;
	margin-top: -5px;
	border-top: none;
	cursor: pointer;
}
.column{
	display: inline-block;
}
.task{
	/*padding: 10px;*/
	height: 20px;
	margin: 10px;
}
.container-week{
	overflow-x: hidden;
	word-wrap: break-word;
	min-height: calc(100% - 50px);
}
.grid{
	overflow-x: auto ;
	padding-left: 35px;
}