#header{
	height: 40px;
	padding-left: 45px;
}
.hour{
	display: inline-block;
	font-size: 12px;
}
#days{
	float: left;
	position: absolute;
	left: 20px;
	width: 40px;
}
.day{
	height: 40px;
	font-size: 12px;
	line-height: 2;
}
#graph{
	/*width:100vw;*/
	overflow-x: hidden;
}
.cell{
	height: 41px;
	display: inline-block;
	border: 1px solid rgba(206, 206, 206,0.2);
	border-left: none;
	margin-top: -5px;
	border-top: none;
	cursor: pointer;
}
.collumn{
	display: inline-block;
}
.task{
	/*padding: 10px;*/
	height: 20px;
	margin: 10px;
}
.container-week{
	overflow-x: hidden;
	word-wrap: break-word;
	padding-left: 40px;
	min-height: calc(100% - 50px);
}
#grid{
	overflow-x: auto ;
}