.task_create{
    width: 300px;
    height: 250px;
    left: calc(50vw - 150px);
    top: calc(50vh - 125px);
}
.task_create div{
    font-size: 14px;

}
#startTimePopup,
#stopTimePopup{
    width: 30px;
}
.timeChoosePopup{
    margin-top: 10px;
}
.colorPopup{
    height: 20px;
    cursor: pointer;
    width: 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.39);
    display: inline-block;
    margin-right: 10px;
}
.colorPopup:hover{
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.25);
}
.colorPopup.current{
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0);
}
.colorWrapper{
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}
.timeChoosePopup{
    display: inline-block;
    float:left;
}
.actionsPopup{
    margin-top: 10px;
}
#actionSelect:focus{
    outline: none;
}
#actionSelect{
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#wrapperAction{
    float:right;
}
#actionExtension{
    height:18px;
    margin-top: 5px;
    width:170px;
    overflow: hidden;
}
#inputLinkPopup{
    margin-top: 5px;
}