.header{
    padding-left: 5px;
    margin: 5px 0;
}
.hour{
    display: inline-block;
    font-size: 12px;
}
.up{
    text-align: center;
    font-size: 14px;
    opacity: 0.9;
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef;
    user-select: none;
    height: 15px;
}
.up:hover{
    color:#3e97f3;
}
.up.active{
    color:#3e97f3;
}
.paper{
    background: #fff;
    color:#707070;
    font-family: Helvetica-Light;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border:0.1px solid #efefef;
}
.main-container{
    height: 351px;
    transition: height 0.3s ease-out;
    overflow-y: hidden;
}
.main-container.closed{
    height: 40px;
}
.settingsButtonWeek{
    width:15px;
    display: inline-block;
    float:right;
    margin-right: 10px;
}
.settingsButtonWeek svg{
    width:25px;
    height:15px;
    cursor: pointer;
}
.settingsButtonWeek:hover{
    opacity: 0.6;
}
.settingsButtonWeek:active{
    opacity: 0.3;
}
.weekUpText{
   float:left;
   cursor: pointer;
}
