@font-face {
    font-family: Helvetica-Light; /* Имя шрифта */
    src: url(../res/fonts/HelveticaLight/HelveticaLight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helvetica-Medium; /* Имя шрифта */
    src: url(../res/fonts/HelveticaMedium/HelveticaMedium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helvetica-Regular; /* Имя шрифта */
    src: url(../res/fonts/HelveticaRegular/HelveticaRegular.ttf); /* Путь к файлу со шрифтом */
}

body{
	background: #fbfbfb;
    margin: 0px;
}
#content{
    padding-right: 10px;
    padding-left: 70px;
}

.button.createWeek{
    background: #f4f4f4;
}

.click_text{
    color:rgb(59, 159, 255);
    cursor:pointer;
    user-select: none;
}

.buttonShell{
    margin-top: 10px;
    text-align: center;
}

input{
    background: #efefef;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}
input:focus{
    outline: none;
}

select{
    background: #efefef;
    border-radius: 5px;
}
select:focus{
    outline: none;
}
select optgroup{
    outline: none;
}
